services:
  - type: web
    name: backend
    env: node
    rootDir: backend
    buildCommand: pnpm install && pnpm build
    startCommand: pnpm start
    envVars:
      - key: NODE_ENV
        value: production
